<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumbersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.NumbersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumbersServlet</servlet-name>
        <url-pattern>/NumbersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- handle the NumbersException by invoking a page to display-->
    <error-page>
        <exception-type>za.ac.tut.model.NumbersException</exception-type>
        <location>/invalid_numbers_error.jsp</location>
    </error-page>
    <!-- handle the NumbersFormatException by invoking a page to display-->
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/number_format_error.jsp</location>
    </error-page>
    <!-- initialize global variables-->
    <context-param>
        <param-name>computer_name</param-name>
        <param-value>Siri</param-value>
    </context-param>
    <context-param>
        <param-name>correct_username</param-name>
        <param-value>employee</param-value>
    </context-param>
    <context-param>
        <param-name>correct_password</param-name>
        <param-value>123</param-value>
    </context-param>
</web-app>

