<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Forgot Password | Gr12 - WebApp</title>
	    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<main class="form-container">
    <h1>Forgot Password</h1>
    <form id="login-form" action="/forgot-password" method="post">
        <label>Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Submit</button>
    </form>
    <p th:text="${message}"></p>
    <p th:text="${error}"></p>
	</main>
</body>
</html>
